html, body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    width:100%;
    height: 100%;
    background-color: green;
}

#field {
    display: grid;
    grid-template-columns: repeat(15, 50px);
    grid-template-rows: repeat(15, 50px);
    box-sizing: border-box;
    margin: auto;
    padding:0;
    font-size: 0;
}

#options {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("img/options-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#start-button {
    border-radius: 20px;
    cursor: pointer;
    border: 1px solid deepskyblue;
    color: black;
    width: 12em;
    height: 5em;

    margin-left: 50%;
}
.grass {
    background: url("img/field/grass.png") no-repeat;
    background-size: cover;
}
.wall {
    background: url("img/field/wall.png") no-repeat;
    background-size: cover;
}
.brick {
    background: url("img/field/brick.png") no-repeat;
    background-size: cover;
}
.explosion {
    background: url("img/field/explosion.gif") no-repeat;
    background-size: cover;
}

#bomb {
    background: url("img/field/bomb.png") no-repeat;
    background-size: cover;
}
#bomberman-bomb{
    background: url("img/bomberman/bomberman-bomb.png") no-repeat;
    background-size: cover;
}
.grass#door, .bomberman#door{
    background: url("img/field/door.png") no-repeat;
    background-size: cover;
}

.bomberman-up {
    background: url("img/bomberman/bomberman-up.png") no-repeat;
    background-size: cover;
}
.bomberman-down {
    background: url("img/bomberman/bomberman-down.png") no-repeat;
    background-size: cover;
}
.bomberman-left {
     background: url("img/bomberman/bomberman-left.png") no-repeat;
     background-size: cover;
}
.bomberman-right {
      background: url("img/bomberman/bomberman-right.png") no-repeat;
      background-size: cover;
}

.enemy-up {
    background: url("img/enemy/enemy-up.png") no-repeat;
    background-size: cover;
}
.enemy-down {
    background: url("img/enemy/enemy-down.png") no-repeat;
    background-size: cover;
}
.enemy-left {
    background: url("img/enemy/enemy-left.png") no-repeat;
    background-size: cover;
}
.enemy-right {
    background: url("img/enemy/enemy-right.png") no-repeat;
    background-size: cover;
}